body {
  background: #C5DDEB;
  font: 14px/20px "Lato", Arial, sans-serif;
  padding: 40px 0;
  color: white;
}



.container1 {
  margin: 0 auto;
  width: 750px;
  background: #444753;
  border-radius: 5px;
  display: flex;
flex-direction: row;
}


.people-list {
  width:50%;
  display: flex;
  flex-direction: column;

}
  .search {
    padding: 20px;
    
  }
  
  input {
    border-radius: 3px;
    border: none;
    padding: 14px;
    color: pink;
    background: #6A6C75;
    width: 90%;
    font-size: 14px;
  }
  
  .fa-search {
    position: relative;
    left: -25px;
  }
  
  ul {
    padding: 20px;
    height: 770px;
  }
    
    
    
    li {
      padding-bottom: 20px;
    }
  
  img {
    float: left;
  }
  
  .about {
    float: left;
    margin-top: 8px;
  }
  
  .about {
    padding-left: 8px;
  }
  
  .status {
    color: gray;
  
}

.chat {
  width: 490px;
  float:left;
  background: #F2F5F8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display:flex;
  flex-direction: column;
  color: #434651;
}
  .chat-header {
    padding: 20px;
    border-bottom: 2px solid white;
  }
    img {
      float: left;
      width: 50px;
      height:50px;
    }
    
    .chat-about {
      float: left;
      padding-left: 10px;
      margin-top: 6px;
    }
    
    .chat-with {
      font-weight: bold;
      font-size: 16px;
    }
    
    .chat-num-messages {
      color: gray;
    }
    
    .fa-star {
      float: right;
      color: #D8DADF;
      font-size: 20px;
      margin-top: 12px;
    }
  

  .chat-history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 575px;
  }
    .message-data {
      margin-bottom: 15px;
    }
    
    .message-data-time {
      color: lighten(gray, 8%);
      padding-left: 6px;
    }
    
    .message {      
      color: white;
      padding: 18px 20px;
      line-height: 26px;
      font-size: 16px;
      border-radius: 7px;
      margin-bottom: 30px;
      width: 90%;
      position: relative;
  
    }
      .after {
        bottom: 100%;
        left: 7%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: green;
        border-width: 10px;
        margin-left: -10px;
      }
    
    
    .my-message {
      background: green;
    }
    
    .other-message {
      background: blue;
    }
      .after {
        border-bottom-color: blue;
        left: 93%;
      }
    
  
  .chat-message {
    padding: 30px;
  }
    textarea {
      width: 90%;
      border: none;
      padding: 10px 20px;
      font: 14px/22px "Lato", Arial, sans-serif;
      margin-bottom: 10px;
      border-radius: 5px;
      resize: none;
      
    }
    
    .fa-file-o, .fa-file-image-o {
      font-size: 16px;
      color: gray;
      cursor: pointer;
      
    }
    
    button {
      float: right;
      color: blue;
      font-size: 16px;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      font-weight: bold;
      background: #F2F5F8;
    }
      hover {
        color: darken(blue, 7%);
      }
    
  


.online, .offline, .me {
    margin-right: 3px;
    font-size: 10px;
  }
  
.online {
  color: green;
}
  
.offline {
  color: orange;
}

.me {
  color: blue;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

